@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poppins&display=swap');

*{
    font-family: "PT Sans Narrow";
}

body{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "intro" "main_content" "survey" "buttons" "footer";
    background-color: #bddfc1;
    gap: 20px;
    color: #002529;
    letter-spacing: 1px;
}

header{
    padding: 0px;
    margin: 10px 75px 0px 75px;
    grid-area: header;
    border-bottom-style: solid;
    border-bottom-color: #00252900;
    border-bottom-width: 4px;
    
}
.navbar a {
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 3px;
}
  
li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    /* background-color: #25662C; */
    color: white;
    justify-content: space-between;
    background-color: #4d694f;
    border-style: solid;
    border-radius: 10px;
    border-color: #002529;
    border-width: 3px;
    box-shadow: 5px 5px 5px rgba(10, 25, 27, 0.60);
  }
  
.nav-links a {
    color: white;
}
  
 /* LOGO */
.logo {
    font-size: 48px;
    letter-spacing: 4px;
    margin-left: 20px;
}
  
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
  
.menu li:hover {
    background-color: #7c987e;
    border-radius: 5px;
    transition: 0.3s ease;
}
  
.menu li {
    padding: 10px 20px;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    /* left: 0; */
    /* top: 0; */

    margin: 5px auto;
    width: 100%;
    padding: 10px;
    /* max-width:100%;  */
    /* //for responsive purposes. */

    width: 100%;  
    /* Full width */
    height: 100%; 
    /* Full height  */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {
    grid-column: 1;
    grid-row: 1/span 2;
    /* background-color: #fefefe; */
    margin: 0% auto; 
    /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 100%; 
    /* Could be more or less, depending on screen size */
    height:100vh;
  }

#modalSpacer{
    grid-column: 1;
    grid-row: 1/span 2;
    /* background-color: #fefefe; */
    margin: 0% auto; 
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    /* Could be more or less, depending on screen size */
    height:100vh;
}
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
  }

  /* The Modal (background) - for pop window */

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* turn off overflow */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
.modal-content2 {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

#footer{
    grid-area: footer;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0px 75px 0px 75px;
    background-color: #4d694f;
    border-style: solid;
    border-color: #002529;;
    border-width: 3px 3px 0px 3px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.main{
    grid-area: main_content;
    grid-template-rows: auto auto auto;
    grid-template-areas: "intro" "main_map" "team";
    display: grid;
    background: white;
    border-style: solid;
    border-color: #002529;
    border-radius: 10px;
    border-width: 2px;
    padding: 20px;
    margin: 0px 75px 0px 75px;
    box-shadow: 5px 5px 5px rgba(10, 25, 27, 0.60);
}

.introduction{
    grid-area: intro;
    text-align: center;
    font-size: 36px;
    padding: 20px;
    margin-bottom: 20px;
    background: #df9e3c;
    border-radius: 10px 10px 0px 0px;
    color :#002529;
}

#the_map{
    height:80vh;
    grid-area: main_map;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
}

#teamArea{
    grid-area: team;
    grid-template-areas: "aboutSage aboutDylan";
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    display: grid;
}

#sageBio{
    grid-area: aboutSage;
    grid-template-areas: "sagePicture" "sageDescription";
    grid-template-rows: auto auto;
    padding-right: 20px;
    align-items: start;
    display: grid;
}

#sagePic{
    grid-area: sagePicture;
    align-items: center;
    display: grid;
}

#sageDesc{
    grid-area: sageDescription;
    text-align: left;
    display: grid;
}

#dylanBio{
    grid-area: aboutDylan;
    grid-template-areas: "dylanPicture" "dylanDescription";
    grid-template-rows: auto auto;
    padding-left: 20px;
    align-items: start;
    display: grid;
}

#dylanPic{
    grid-area: dylanPicture;
    align-items: center;
    display: grid;
}

#dylanDesc{
    grid-area: dylanDescription;
    text-align: left;
    display: grid;
}

#surveyArea{
    grid-area: survey;
    grid-template-areas: "buttonDescription surveyButton";
    grid-template-columns: 3fr 1fr;
    margin: 20px 75px;
    padding: 20px;
    background: white;
    display: grid;
    border-radius: 10px;
    border-style: solid;
    border-color: #002529;
    border-width: 2px;
    box-shadow: 5px 5px 5px rgba(10, 25, 27, 0.60);
}

#buttonArea{
    grid-area: buttons;
    display: grid;
}


#surveyDescription{
    grid-area: buttonDescription;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    font-size: 32px;
    letter-spacing: 2px;
}

#theSurveyButton{
    grid-area: surveyButton;
    align-self: center;
    justify-self: center;

}

.surveyButton{
    background-color: #FBA625;
    text-align: center;
    cursor: pointer;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 5px;
    width: 300px;
    color: #002529;
    letter-spacing: 2px;
}

.surveyButton:hover{
    background-color: #DE8705;
    transition: background-color .25s;  
}

#placeForUserStories{
    grid-area: userStories;
    grid-template-areas: "userStoriesTitle" "userStoriesShow";
    grid-template-rows: 0.25fr 400px;
    display:grid;
    margin-left: 20px;
    margin-right: 20px;
}

#placeForUserStoriesTitle{
    grid-area: userStoriesTitle;
    text-align: center;
    background-color: gray;
    align-self: center;
    padding: 10px;
    margin-right: 10px;
}

#placeForUserStoriesShow{
    grid-area: userStoriesShow;
    overflow-y: scroll;
}

.userStories{
    color: #002529;
    background: #dee5e7;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
}

#legend{
    z-index: 500;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    grid-column: 1;
    grid-row: 4;
    position: relative;
}

.btn-group button{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.btn-group button:not(:last-child){
    border-right: none;
}

.btn-group:after{
    content: "";
    clear: both;
    display: table;
}
